$blue-gradient:linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
$base-background:#1E1E1E;
$violet-gradient:linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%);
$title-color:#618ADC;
$first-breakpoint:1360px;
$second-breakpoint:1230px;
