.intro-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title{
        padding: 160px 0 50px;
        font-size: 68px;
        text-align: center;
    }
    
    &-content{
        width: 53%;
        font-size: 21px;
        text-align: center;
        padding-bottom: 48px;
    }
    &-button{
        display: flex;
        align-items: center;
        &-left{
            padding: 15px;
        }
        padding-bottom: 100px;
    }
}