.testimonials-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-top{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-left{
            font-size: 39px;
        }
        &-right{
            width: 40%;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li{
                    padding: 15px;
                    background: #111111;
                    border-radius: 15px;
                }
                #active-li{
                    border: 1px solid #A962FF !important;
                }
            }
        }
    }
    &-center{
        display: flex;
        padding-top: 35px;
        &-left{
            // width: 50%;
            img{
                width: 545px;
                height: 100%;
            }
        }
        &-right{
            width: 545px;
            background: #1A1A1A;
            padding: 90px 45px;
            &-content{
                font-size: 21px;
                line-height: 1.3;
                padding: 15px 0;
            }
            &-links{
                display: flex;
                .testimonials-section-center-right-link{
                    a{
                        text-decoration: none;
                        color: #A962FF;
                    }
                }
                #first-link{
                    padding-right: 10px;
                }
            }
        }
    }
    &-bottom{
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgba(38, 31, 38, 0.3);
        padding: 10px 0;
        border-radius: 16px;
    }
}